<p>
    <strong><%= comment.user.nickname %></strong> <small><%= time_ago_in_words(comment.created_at) %></small> <%= comment.user.location %>
    <br/>
    <%= comment.body %> 
</p>

<%# if user_signed_in? && current_user.id == reply.user_id || (current_user && current_user.has_role?(role)) %>

<% if user_signed_in? && current_user.id == comment.user_id %>
<%= link_to 'Edit' , edit_topic_comment_path(comment.topic, comment) %>
<%= link_to 'Destroy' , [comment.topic, comment], method: :delete, data: {confirm: "Are you sure ?" } %>

<% end %>
<br/>
<br/>