<!DOCTYPE html>
<html>
  <head>
    <title>Forum</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

        <%= link_to root_path do %>
          <h1>Forum</h1>
        <% end  %>


          <% if user_signed_in? %>


              <div><%= link_to 'Account', edit_user_registration_path %></div>
              <%= current_user.email  %>
              <%= link_to "Log Out", destroy_user_session_path %>
                <hr/>
              <div><%= link_to 'New Topic', new_topic_path %></div>

         <% else %>
            <div><%= link_to "Sign In", new_user_session_path %></div>
            <div><%= link_to "Sign up", new_user_registration_path %></div>

          <% end %>
  <div>
    <%= yield %>
  </div>

  </body>
</html>
